:root {
  --color1: #c8dae6;
  --color2: white;
  --color3: #b8b8b8;
  --color4: #ffcd41;
  --color5: #2092a9;
  --color6: #35374b;
  --color7: #ffe6e6;
}

body {
  background-color: var(--color1);
  font-family: "Noto Sans KR", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  max-width: 520px;
  background-color: var(--color2);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  box-shadow: 2px 4px 8px var(--color1);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?cs=srgb&dl=pexels-pixabay-209831.jpg&fm=jpg");
  /* cover == 이미지 비율 유지하면서 컨테이너 빈공간없이 꽉채움*/
  background-size: cover;
  background-position: center;
  height: 100px;
  opacity: 0.7;
  border-radius: 40px;
  box-shadow: 2px 4px 8px var(--color3);
}

header > h1 {
  font-size: 32px;
  color: var(--color2);
}

/* 헤더바가 425px이하일때 Header*/
@media all and (max-width: 425px) {
  header > h1 {
    font-size: 24px;
  }
}

.weatherToFoodCardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  padding: 0px;
  list-style: none;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  box-shadow: 2px 4px 8px var(--color3);
  border-radius: 50px;
  height: 50px;
  /* hover시 좀 부드럽게 변환주기 0.3초후 변환*/
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap:hover {
  box-shadow: 0px 2px 8px var(--color6);
  color: var(--color6);
}

.wrap:active {
  box-shadow: 0px 2px 8px var(--color3);
  color: var(--color3);
}

.wrap .icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 180%;
  color: #2c3e50;
}

main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.board {
  margin-top: 15%;
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.board.flip {
  transform: rotateY(180deg);
}

/* 헤더바가 425px이하일때 board*/
@media all and (max-width: 425px) {
  .board {
    margin-top: 15%;
    position: relative;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
}

.card {
  margin: 20px 5px;
  border-radius: 20px;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-color: var(--color2);
  padding: 40px;
  backface-visibility: hidden;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
}

/* food 카드는 뒤집어놓기 */
.food {
  transform: rotateY(180deg);
}

#weathericon {
  position: relative;
  width: 120px;
  height: 120px;
  top: -20px;
  left: 100px;
  margin: 40px 40px 0 0;
  animation: weather-icon-move 5s ease-in-out infinite;
}

#temp {
  position: absolute;
  font-weight: 500;
  font-size: 80px;
  color: var(--color1);
  bottom: 20px;
  /* 온도를 나타내는 문자가 옆에서 날라오는 이미지효과를 위해 초반에는 텍스트를 투명하게해놓음  */
  opacity: 0;
  /* 온도를 나타내는 문자가 오른쪽에서 날라오도록 이미지 효과를 주기위해 배치작업*/
  transform: translateX(150px);
  left: 10px;
  animation: title-appear 500ms ease-out 500ms forwards;
}

#local {
  position: absolute;
  font-weight: 500;
  font-size: 28px;
  color: var(--color1);
  bottom: 0;
  left: 10px;
  animation: title-appear 1s ease-out 500ms forwards;
}

#food_image {
  max-width: 100%;
}
#food_name {
  font-size: 40px;
}

#food_description {
  font-size: 20px;
}

@media all and (min-width: 325px) {
  #food_image {
    max-width: 100%;
  }
  #food_name {
    font-size: 20px;
  }

  #food_description {
    font-size: 14px;
  }
}

body {
  background: #333;
}
.like-container {
  filter: url("#filter");
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(50%, -50%);
}

.like-cnt {
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  background: rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  z-index: 10;
}

.fa-thumbs-up {
  font-size: 2em;
}

@keyframes weather-icon-move {
  50% {
    transform: translateY(-8px);
  }
}

@keyframes title-appear {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

footer {
  font-weight: 500;
  text-align: center;
}
